.component {
  width: 150px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: $white1;
  top: 100%;
  box-shadow: 0 2px 2px 2px rgba($black1, 0.1);
  padding: 8px 4px;
  z-index: 10;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 24px;
  border-radius: 12px;
  color: $gray1;
  cursor: pointer;

  @extend .text2;

  &:hover {
    background-color: $green2;
  }

  &.danger {
    color: $red1;

    @extend .text3;
  }
}
