.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mq() {
    min-height: calc(100vh - 152px);
  }
}

.title {
  color: $gray1;
  padding-right: 24px;
  margin-bottom: 20px;

  @extend .text12;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;

  .button {
    width: 90px;
  }
}
