.component {
  max-height: 400px;
  max-width: 814px;
  background-color: rgba($black1, 0.35);
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 56px;
  box-sizing: border-box;

  @include mq() {
    min-width: 100vw;
    border-radius: 0;
  }
}

.text {
  color: $white1;

  @extend .text11;
}
