.component {
  display: flex;
  width: 72px;
  height: 36px;
  border-radius: 18px;
  background-color: $gray5;

  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    cursor: pointer;

    &.active {
      border-radius: 18px;
      background-color: $orange1;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  .card {
    width: 36px;
    height: 36px;
  }
}
